@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div>
        @model calculadora.Models.CalculadoraModel
        @using (Html.BeginForm())
        {
            @Html.EditorFor(x => x.A, new { htmlAttributes = new { @class = "form-control" } })
            <br /> <br />

            @Html.EditorFor(x => x.B, new { htmlAttributes = new { @class = "form-control" } })
            <br /> <br />

            <input type="submit" class="btn btn-primary" value="Suma" name="command" />
            <input type="submit" class="btn btn-primary" value="Resta" name="command" />
            <input type="submit" class="btn btn-primary" value="Multiplicacion" name="command" />
            <input type="submit" class="btn btn-primary" value="Division" name="command" />
            <br /> <br />

            <h2 style = "color:red" > 
                @Html.Label("Result is :")
                @Html.DisplayFor(x => x.Result) 
            </h2>


            @Html.Label("El resultado es: ")
            @Html.DisplayFor(x => x.Result)
        }

    </div>

</div>